

{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto molestiae nihil distinctio fugit iste possimus minus libero quia, ducimus nobis a, quam excepturi reprehenderit perferendis. Suscipit earum temporibus doloremque eum.</p>

    </div>

    <div class="col-4">

      <img src="assets/img/diegol.jpg" class="img-thumbnail">


    </div>
</div>

   

{{> footer }}